<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <meta name="description" content="Sentiment Analysis using Python">
    <meta name="keywords" content="Sentiment Analysis, Python, NLTK, Web App">
    <meta name="author" content="Syed Darain Quadri">
    <title>Sentiment Analyser</title>
</head>
<body>
    <section>
        <form>
            <div class="label">Enter news description:</div>
            <textarea name="news" id="news">After a bridge and a train engine, Bihar's list of bizarre thefts continued with an entire pond being "stolen". The pond vanished and had a hut built on it, leaving the locals baffled in Darbhanga district.</textarea>
            <div><button type="submit" role="button">Submit</button></div>
        </form>
        <p>Sentiment: <span class="neutral">null</span></p>
        <footer class="left">
            <div>
                <a href="https://github.com/darainquadri" target="_blank" rel="noopener noreferrer">Sentiment Analysis Github</a>
            </div>
            <div>
                Made by <a href="https://github.com/darainquadri" target="_blank" rel="noopener noreferrer">Syed Darain Quadri</a>
            </div>
        </footer>
    </section>
</body>
</html>