<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <meta name="description" content="Sentiment Analysis using Python">
    <meta name="keywords" content="Sentiment Analysis, Python, NLTK, Web App">
    <meta name="author" content="Syed Darain Quadri">
    <title>Sentiment Analyser</title>
</head>
<body>
    <section>
        <canvas id="cnv"></canvas>
        <form method="post">
            <div class="label">Enter news description:</div>
            <textarea name="news" id="news" placeholder="After a bridge and a train engine, Bihar's list of bizarre thefts continued with an entire pond being &#39;stolen&#39;. The pond vanished and had a hut built on it, leaving the locals baffled in Darbhanga district."></textarea>
            <div><button type="submit" role="button">Submit</button></div>
        </form>
        <footer>
            <div>
                <a href="https://github.com/darainquadri/sentiment-analysis" target="_blank" rel="noopener noreferrer">Sentiment Analysis Github</a>
            </div>
            <div>
                Made by <a href="https://github.com/darainquadri" target="_blank" rel="noopener noreferrer">Syed Darain Quadri</a>
            </div>
        </footer>
    </section>
    <script src="{{ url_for('static', filename='js/background.js') }}"></script>
</body>
</html>